<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.arcgis" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>ArcGIS Plugin</name>
    
    <js-module name="ArcGISPlugin" src="www/ArcGISPlugin.js">
        <clobbers target="cordova.plugins.ArcGISPlugin"/>
    </js-module>

    <platform name="android">

        <!-- Set variables -->
        <preference name="API_KEY"/>
        <preference name="PORTAL_ITEM_URL"/>
        <preference name="PORTAL_ITEM_ID"/>

        <hook type="after_plugin_install" src="src/android/hooks/modifyGradle.js" />
        <hook type="before_build" src="src/android/hooks/updateKotlinVersion.js" />
        
        <config-file parent="/*" target="res/xml/config.xml">
            
            <feature name="ArcGISPlugin">
                <param name="android-package" value="com.outsystems.experts.arcgis.ArcGISPlugin" />
            </feature>

        </config-file>

        <!-- Copy files Kotlin -->
		<source-file src="src/android/ArcGISPlugin.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/arcgis" />
        <source-file src="src/android/DatabaseHelper.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/arcgis" />
        <source-file src="src/android/MapActivity.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/arcgis" />
        <source-file src="src/android/DownloadMapActivity.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/arcgis" />
        <resource-file src="src/android/layout/activity_map.xml" target="res/layout/activity_map.xml" />
        <resource-file src="src/android/layout/activity_download_map.xml" target="res/layout/activity_download_map.xml" />

        <!-- Font Popins Regular -->
        <resource-file src="src/android/font/poppins_regular.ttf" target="res/font/poppins_regular.ttf" />

        <resource-file src="src/android/icons/ic_back.xml" target="res/drawable/ic_back.xml" />
        <resource-file src="src/android/icons/ic_btn_save.xml" target="res/drawable/ic_btn_save.xml" />
        <resource-file src="src/android/icons/ic_button_redo.xml" target="res/drawable/ic_button_redo.xml" />
        <resource-file src="src/android/icons/ic_circle_selected.xml" target="res/drawable/ic_circle_selected.xml" />
        <resource-file src="src/android/icons/ic_circle.xml" target="res/drawable/ic_circle.xml" />
        <resource-file src="src/android/icons/ic_line.xml" target="res/drawable/ic_line.xml" />
        <resource-file src="src/android/icons/ic_line_selected.xml" target="res/drawable/ic_line_selected.xml" />
        <resource-file src="src/android/icons/ic_polygon.xml" target="res/drawable/ic_polygon.xml" />
        <resource-file src="src/android/icons/ic_polygon_selected.xml" target="res/drawable/ic_polygon_selected.xml" />
        <resource-file src="src/android/icons/ic_recenter.xml" target="res/drawable/ic_recenter.xml" />
        <resource-file src="src/android/icons/ic_close_map.xml" target="res/drawable/ic_close_map.xml" />
        <resource-file src="src/android/icons/ic_download.xml" target="res/drawable/ic_download.xml" />
        <!-- end copy filed -->

        <!-- SDK Files -->
        <framework src="src/android/arcgis.gradle" custom="true" type="gradleReference" />
        <!-- END SDK Files -->

        <config-file target="res/xml/config.xml" parent="/*">
			<preference name="GradlePluginKotlinVersion" value="1.9.20" />
			<preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>

         <!-- Edit AndroidManifest.xml -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
             <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <!-- END Edit AndroidManifest.xml -->
        
         <!-- Variables -->
       <config-file target="res/values/strings.xml" parent="/*">
            <string name="app_api_key">$API_KEY</string>
            <string name="app_portal_item_url">$PORTAL_ITEM_URL</string>
            <string name="app_portal_item_id">$PORTAL_ITEM_ID</string>
            <string name="invalid_polyline_message">Polyline only valid if it contains at least one part of 2 or more vertices.</string>
            <string name="invalid_polygon_message">Polygon only valid if it contains at least one part of 3 or more vertices which form a closed ring.</string>
            <string name="none_selected_message">No option selected to draw in map</string>
            <string name="restart_message">Cleared all graphics from map</string>
            <string name="take_map_offline">Download Map</string>
            <string name="reset_map">Reset Map</string>
        </config-file>
        <!-- End Variables -->

        <!-- Regigter Activity -->
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:name="com.outsystems.experts.arcgis.MapActivity" />
            <activity
                android:name="com.outsystems.experts.arcgis.DownloadMapActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar" />
        </config-file>
        <!-- End register Activity -->

    </platform>
</plugin>
